<div class="flex-basis-main px-2">

  <div class="header navy-background px-4">
    <div class="logo-flight-nfo d-flex align-items-center ml-5">
      <div>
        <img class="accelya-text-img me-4"
          style="width: 150px; height: 45px;"
          src={{pathToAssets}}accelyaTextLogo.jpg>
      </div>
      <span class="font-16 fw-600 me-5">{{selectedFlightValues.airlineCode}}: {{selectedFlightValues.flightNumber}}
      </span>
    </div>
    <div class="flight-specifics me-5">
      <div class="flight-header-main"
        *ngIf="selectedFlightValues">
        <div class="flight-frame d-flex">
          <div class="status-col me-4">
            <div class="font-16 fw-600"> {{selectedFlightValues.origin}}</div>
            <span class="font-12">{{selectedFlightValues.fullOrigin}}</span>
          </div>
          <div class="d-flex nowrap">
            <div class="status-col text-start me-3 font-12 fw-600">
              <div class="mt-2">{{selectedFlightValues.departureDateTime}}</div>
              <!-- <div class=""> {{apiAirlineFlight.departureDateTime | dateModifier: 'time' }}</div> -->
            </div>
            <div class="logo-circle m-auto">
              <img class="tail-img-sm logo-tail"
                src="{{pathToAssets}}2IbTailArt.png">
            </div>
            <div class="status-col ms-4 font-12 fw-600">
              <div class="mt-2">{{selectedFlightValues.arrivalDateTime}}</div>
              <!-- <div class="text-right"> {{apiAirlineFlight.arrivalDateTime | dateModifier: 'time' }}</div> -->
            </div>
          </div>
          <div class="status-col ms-3">
            <div class="font-16 fw-600 align-right">{{selectedFlightValues.destination}}</div>
            <div class="font-12">{{selectedFlightValues.fullDestination}}</div>
          </div>
        </div>
      </div>
    </div>
    <span class="font-14 fw-600 me-4 ml-auto">Departure: &nbsp;8:05am</span>
    <div class="booking-container ms-5 font-14 fw-600">
      <div class="me-2">Total/Booked:</div>
      <div class="me-3">
        {{sharedDatasetService.bucketDetails[0].Aus}} /
        {{sharedDatasetService.totalBookingsCollector}}
      </div>
    </div>
    <div class="d-flex me-5">
      <div id="myProgress">
        <div id="myBar">0%</div>
      </div>
    </div>
    <a type="button"
      class="label-btn longer-versions me-2 text-nowrap"
      (click)="themeControlService.toggleLightMode()"
      title="Use API Values">
      {{themeControlService.chartThemeText}} Mode
    </a>
    <div *ngIf="frameRateCounterState"
      class="font-13 fw-600">FPS: {{fps$ | async}}</div>

    <div class="d-flex font-11 fw-600 ms-auto"> v:{{currentApplicationVersion}}</div>
    <div class="d-flex cursor-pointer ms-auto">
      <div style="margin-bottom: -20px; margin-right: -20px;"
        title="Toggle Frame Rate"
        (click)="toggleFrameRate()">
        <img class="accelya-text-img"
          style="width: 60px; height: 40px;"
          src={{pathToAssets}}furtherFaster.jpg>
      </div>
    </div>
  </div>
  <div *ngIf="shortcuts$ | async as shortcut"></div>
  <div class="pricing-window mx-2 my-2">
    <div class="chart-container">
      <div class="d-flex justify-content-between text-header-area">
        <div class="font-16">AU Visualization</div>
        <div class="d-flex">
          <div class="d-flex mx-5">
            <div class="d-flex align-items-center me-5">
              <div class="noselect font-14 me-2">Select Flight:</div>
              <div class="ng-select.primary-background"
                *ngIf="(sharedDatasetService.updatedClientFlight$ | async) as apiAirlineFlight">
                <ng-select class="custom-select me-2"
                  title="Select Metric"
                  [ngModel]="apiAirlineFlight[selectedIndex]"
                  (change)="flightSelectControl($event)"
                  [clearable]="false"
                  [searchable]="false"
                  [items]="apiAirlineFlight"
                  [bindLabel]="'masterKey'">
                  <ng-template ng-option-tmp
                    let-item="item">
                    <div>{{ item.masterKey }}</div>
                  </ng-template>
                </ng-select>
              </div>
            </div>
            <!-- <a type="button"
              class="label-btn longer-versions me-2 text-nowrap"
              (click)="sharedDatasetService.toggleTargetToApi()"
              title="Use API Values">
              Use API Value
            </a> -->

            <!-- <a type="button"
              class="label-btn longer-versions me-2 text-nowrap"
              (click)="sharedDatasetService.showCompetitors()"
              title="Reset All Values to Default">
              Toggle Competitors
            </a> -->
            <button type="button"
              class="label-btn me-2"
              (click)="sharedDatasetService.resetFromArchivedBuckets(selectedIndex)"
              title="Reset All Values to Default">
              Reset Default
            </button>
            <button type="button"
              class="label-btn"
              (click)="sharedDatasetService.saveBucketSet(selectedIndex)">
              Save
            </button>
          </div>
          <div class="d-flex me-3"
            *ngIf="(sharedDatasetService.metricGroupSubject$| async)?.length">
            <section class="d-flex">
              <div class="d-flex align-items-center me-3"
                *ngFor="let item of (sharedDatasetService.metricGroupSubject$ | async) let $idx = index;">
                <input type="radio"
                  id={{$idx}}
                  name="select"
                  value="$idx"
                  [checked]="item.id === sharedDatasetService.selectedMetric"
                  (change)="sharedDatasetService.setGroupingMethod($idx)">
                <label for="{{item.id}}"
                  title="Shortcut key {{$idx + 1}}">
                  <div class="noselect font-12">{{item.name}}</div>
                </label>
              </div>
            </section>
          </div>
        </div>
      </div>
      <div class='container-body'>
        <continuous-bid-pricing></continuous-bid-pricing>
      </div>
    </div>
  </div>
  <div class="bookings-inluence mx-2 mb-2">
    <div class="chart-container">
      <div class="d-flex text-header-area-full">
        <div class="status-col w-100">
          <div class="d-flex justify-content-between w-100">
            <div class="">Bookings / Price Influences</div>
            <div class="d-flex">
              <!-- <div class="font-12 fw-600 me-2 mt-1">Load Factor:</div>
              <div id="myProgress"
                class="me-3">
                <div id="myBar">0%</div>
              </div> -->
              <bidprice-configure></bidprice-configure>
            </div>
          </div>
          <div class="slider">
            <mat-slider thumbLabel
              class="example-margin"
              dir="rtl"
              [max]="bookingControlService.max"
              [min]="bookingControlService.min"
              [step]="1"
              [value]="bookingControlService.value"
              [(ngModel)]="bookingControlService.value"
              (change)="bookingControlService.change(bookingControlService.value)">
            </mat-slider>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sa-au-window mx-2 mb-1">
    <div class="chart-container">
      <div class="d-flex justify-content-between text-header-area">
        <div class="font-16">Seat Availability / Aus</div>
      </div>
      <div class='container-body'>
        <draggable-available></draggable-available>
      </div>
    </div>
  </div>