<div class="flex-basis-main">
  <div class="header navy-background px-4">
    <div class="logo-flight-nfo d-flex align-items-center ml-5">
      <div class="py-2">
        <img class="accelya-text-img me-4"
          style="width: 150px; height: 45px;"
          src="../../assets/images/accelyaTextLogo.jpg">
      </div>
      <span class="font-16 me-4">IB: &nbsp;6262 </span>
    </div>
    <div class="flight-specifics me-4">
      <app-flight-header></app-flight-header>
    </div>
    <span class="font-12 me-4">Departure: &nbsp;8:05am</span>
    <div class="d-flex me-5">
      <div class="font-12 me-2">Load Factor:</div>
      <div id="myProgress">
        <div id="myBar">0%</div>
      </div>
    </div>
    <div class="ms-auto">
      <button type="button"
        class="btn btn-primary btn-xs">
        Save
      </button>
    </div>

    <!-- <div class="control-row">
      <ng-select class="color-select"
        title="Select Color Range"
        [(ngModel)]="sharedDatasetService.selectedColorRange"
        (ngModelChange)="sharedDatasetService.selectColorRange($event)"
        [clearable]="false"
        [searchable]="false"
        [items]="colorCollections"
        [bindLabel]="'key'">
        <ng-template ng-option-tmp
          let-item="item">
          <div class="color-row">
            <div>{{ item.key }}</div>
            <div style="padding-left: 8px;"
              class="color-square-row">
              <div *ngFor="let square of item.value">
                <div class="color-square"
                  [style.background-color]="square">
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-select>
    </div> -->
  </div>

  <div class="pricing-window mx-2 mt-1">
    <div class="chart-container">
      <div class="d-flex justify-content-between text-header-area">
        <div class="">Continuous Pricing</div>
        <bidprice-configure></bidprice-configure>
        <div class="d-flex">
          <label class="me-2 font-12">Percentage Based</label>
          <input type="checkbox" />
        </div>
      </div>
      <div class='container-body'>
        <continuous-bid-pricing></continuous-bid-pricing>
        <div class="slider mt-1 ms-2 me-2">
          <mat-slider thumbLabel
            class="example-margin"
            dir="rtl"
            [max]="max"
            [min]="min"
            [step]="1"
            [(ngModel)]="value"
            (input)="bookingSlider$.next($event)">
          </mat-slider>
        </div>
      </div>
    </div>
  </div>
  <div class="row-to-column-wrap mt-2 mb-2">
    <!-- <div class="value-entry mx-2">
      <div class="chart-container">
        <div class="d-flex justify-content-between text-header-area">
          <div class="">Continuous Pricing Influence</div>
        </div>
        <div class='container-body'>
          <bidprice-configure></bidprice-configure>
        </div>
      </div>
    </div> -->
    <div class="sa-au-window mx-2">
      <div class="chart-container">
        <div class="d-flex justify-content-between text-header-area">
          <div class="">Seat Availability / Aus</div>
        </div>
        <div class='container-body'>
          <draggable-available></draggable-available>
        </div>
      </div>
    </div>
  </div>