// Global screen width adjuster
@import "../../styles/configuration.scss";
@import "src/styles/selection-frame";

.no-wrap {
  flex-wrap: nowrap;
}

.flex-basis-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100% !important;

  &.dark-mode {
    //background-color: #100C2A;
  }

  &.light-mode {
    //background-color: rgb(255, 255, 255);
  }

  .header {
    z-index: 100;
    width: 100%;
    //max-height: 55px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .booking-container {
      display: flex;
      flex-wrap: wrap;
      width: 180px;
    }
  }

  .chart-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .text-header-area-full {
      display: flex;
      align-items: center;
      font-size: 0.95rem;
      border-radius: $chart-corner-radius;
      padding: 8px 8px;
      color: white !important;
      background-color: $brand-primary-background;
    }

    .text-header-area {
      display: flex;
      align-items: center;
      text-align: center;
      font-size: 0.8rem;
      padding: 4px 8px;
      color: white !important;

      border-bottom: 1px solid rgb(128, 128, 128);

      &.button-included {
        padding: 2px 8px;
      }

      &.light-mode {
        background-color: rgb(243, 243, 252);
        border-bottom: 1px solid rgb(212, 212, 212);
        color: black !important;
      }

      &.dark-mode {
        background-color: $brand-primary-background;
        color: white !important;
      }
    }

    .container-body {
      height: 100% !important;
      //background-color: white;
      width: 100% !important;
      border-bottom: 1px solid rgb(126, 126, 126);
      border-right: 1px solid rgb(126, 126, 126);
      border-left: 1px solid rgb(126, 126, 126);

      &.dark-mode {
        background-color: #100c2a;
      }

      &.light-mode {
        background-color: rgb(255, 255, 255);
        border-bottom: 1px solid rgb(126, 126, 126);
      }
    }
  }

  .pricing-window {
    width: $screen-width-modifier;
  }

  .influence-aus {
    width: $screen-width-modifier;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
  }
}

.tail-img-sm {
  width: 45px;
  height: 43px;
}

.flight-header-main {
  // margin: 0 auto;
  color: white;
}

.flight-frame {
  //padding-top: 9px;
  min-width: 400px;
  padding: 8px 10px;
  // border-right: 1px solid rgba(47, 94, 235, 0.35);
  // border-left: 1px solid rgba(47, 94, 235, 0.35);
  // border-bottom: 1px solid rgba(47, 94, 235, 0.35);
  // border-top: 1px solid rgba(47, 94, 235, 0.35);
}

.logo-circle {
  padding: 2px 7px;
  display: flex;

  @media (max-width: 400px) {
    display: none;
  }
}

.control-row {
  width: 13% !important;
  height: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  font-size: 13px;

  .label-text {
    font-size: 10px;
    width: 60px;
  }

  .color-select {
    min-width: 100%;
    height: 100%;

    .color-row {
      width: 100%;
      z-index: 10;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;

      .color-square-row {
        display: flex;
        flex-direction: row;
        margin-left: auto;

        .color-square {
          z-index: 10;
          width: 10px !important;
          height: 10px !important;
        }
      }
    }
  }
}

.booking-input {
  text-align: center !important;
  max-width: 40px !important;
}

.navy-background {
  background-color: $brand-primary-background;
  color: $brand-off-white-lt;
}

.cursor-pointer {
  z-index: 102;
  cursor: pointer;
}

::ng-deep .ng-select-container {
  color: white !important;
  background-color: $brand-primary-background !important;
  border-radius: 2px;
  border: 1px solid hsla(150, 75%, 50%, 0.5) !important;
  min-height: 0.85rem !important;
  max-height: 1rem !important;
  padding: 0 2px;
  align-items: center;
  font-size: 11px !important;

  .ng-option {
    font-size: 11px !important;
  }

  &:hover {
    border: 1px solid hsla(150, 75%, 50%, 1) !important;
  }
}

input[type="radio"] {
  display: none;

  &:not(:disabled) ~ label {
    cursor: pointer;
    padding: 0.16rem 0 !important;
    width: 105px !important;
  }

  &:disabled ~ label {
    color: hsla(150, 5%, 75%, 1);
    border-color: hsla(150, 5%, 75%, 1);
    background: gray;
    width: 105px !important;
    padding: 0 0 !important;
    box-shadow: none;
    cursor: not-allowed;
  }
}

input[type="radio"]:not(:checked) ~ label {
  color: white;
}

input[type="radio"]:checked + label {
  background: #0d6efd;
  width: 105px !important;
  padding: 0 0 !important;
  color: hsla(215, 0%, 100%, 1);
}

label {
  display: block;
  background: $brand-primary-background;
  border: 1px solid hsla(150, 75%, 50%, 0.5);
  border-radius: 3px;
  width: 105px;
  padding: 0.16rem 0;
  text-align: center;
  font-size: 11px;
  position: relative;

  &:disabled {
    padding: 0rem 0;
  }

  &.red {
    background: red;
  }

  &.blue {
    background: #0d6efd;
  }

  &.gray {
    background: gray;
  }

  &.dark-blue {
    background: $brand-primary-background;
  }

  &:hover {
    border: 1px solid hsla(150, 75%, 50%, 1);
  }
}

.label-btn {
  display: block;
  background: $brand-primary-background;
  color: hsla(215, 0%, 100%, 1);
  border: 1px solid hsla(150, 75%, 50%, 0.5);
  border-radius: 3px;
  font-size: 11px;
  text-align: center;
  min-width: 65px;
  padding: 0.16rem 0;
  position: relative;
  text-decoration: none;

  &:hover {
    border: 1px solid hsla(150, 75%, 50%, 1);
  }
}

.mat-icon {
}

.material-icons {
  font-family: "Material Icons";
  font-weight: bold !important;
  font-style: normal;
  font-size: 19px !important;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  height: 24px !important;
  width: 24px !important;
}

.icon-btn {
  display: block;
  background: $brand-primary-background;
  color: hsla(215, 0%, 100%, 1);
  border: 1px solid hsla(150, 75%, 50%, 0.5);
  border-radius: 3px;
  font-size: 11px;
  text-align: center;
  min-width: 35px;
  padding: 0.16rem 0;
  position: relative;
  text-decoration: none;

  &:hover {
    border: 1px solid hsla(150, 75%, 50%, 1);
  }
}

// .icon-button {
//   padding: 0px 0px 0px 0px;

//   // i-bs {
//   //   color: white;
//   //   // font-size: 13px;
//   //   //font-weight: 600;
//   // }
// }

h1 {
  color: hsla(215, 5%, 10%, 1);
  margin-bottom: 2rem;
}

section {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}

@media only screen and (max-width: 700px) {
  section {
    flex-direction: column;
  }
}

#myProgress {
  width: 100px;
  border-radius: 4px;
  margin-top: 2px;
  border: 1px solid rgb(150, 150, 150);
  background-color: rgb(16, 16, 17);
}

#myBar {
  width: 5%;
  border-radius: 3px;
  height: 16px;
  background-color: $brand-link-blue-text;
  text-align: center;
  line-height: 14px;
  font-weight: 600;
  font-size: 11px;
  border: 1px solid rgb(49, 98, 190);
  color: white;
}
