// Global screen width adjuster
@import '../../styles/configuration.scss';
@import 'src/styles/selection-frame';

$screen-width-modifier: 100%;

#myProgress {
  width: 100px;
  border-radius: 4px;
  margin-top: 2px;
  border: 1px solid rgb(150, 150, 150);
  background-color: rgb(16, 16, 17);
}

#myBar {
  width: 5%;
  border-radius: 3px;
  height: 16px;
  background-color: $brand-link-blue-text;
  text-align: center;
  line-height: 14px;
  font-weight: 600;
  font-size: 11px;
  border: 1px solid rgb(49, 98, 190);
  color: white;
}



.control-row {
  width: 13% !important;
  height: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  font-size: 13px;


  .label-text {
    font-size: 10px;
    width: 60px;
  }

  .color-select {
    min-width: 100%;
    height: 100%;

    .color-row {
      width: 100%;
      z-index: 10;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;

      .color-square-row {
        display: flex;
        flex-direction: row;
        margin-left: auto;

        .color-square {
          z-index: 10;
          width: 10px !important;
          height: 10px !important;
        }
      }
    }
  }
}

.booking-input {
  text-align: center !important;
  max-width: 40px !important;
}

.navy-background {

  background-color: $accelya-blue;
  color: $brand-off-white-lt;

  &.corner-radius {
    border-radius: 8px;
  }

  &.top-corner-radius {
    border-top-right-radius: $chart-corner-radius;
    border-top-left-radius: $chart-corner-radius;
  }
}

.chart-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-top-right-radius: $chart-corner-radius;
  border-top-left-radius: $chart-corner-radius;

  .text-header-area-full {
    display: flex;
    align-items: center;
    font-size: 0.95rem;
    border-radius: $chart-corner-radius;
    padding: 8px 8px;
    color: white !important;
    background-color: $accelya-blue;
  }

  .text-header-area {
    display: flex;
    align-items: center;
    font-size: 0.95rem;
    border-top-right-radius: $chart-corner-radius;
    border-top-left-radius: $chart-corner-radius;
    padding: 8px 8px;
    color: white !important;
    background-color: $accelya-blue;
    border-bottom: 1px solid rgb(163, 163, 163);
  }

  .container-body {
    height: 100% !important;
    background-color: white;
    // width: 100% !important;
    // background-color: $accelya-blue;
  }

  .slider {
    display: flex;
    align-items: center;
    background-color: $accelya-blue;

    .example-margin {
      width: 98%;
    }
  }
}

.cursor-pointer {
  z-index: 102;
  cursor: pointer;
}


.flex-basis-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  //align-content: space-between;
  width: 100%;
  height: 100%;

  .header {
    z-index: 100;
    width: 100%;
    height: 70px !important;
    display: flex;
    align-items: center;

    //border-top: 3px solid $accelya-pink;
    .booking-container {
      display: flex;
      flex-wrap: wrap;
      width: 180px;
    }

    .header-body {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      align-items: center;

      .logo-flight-nfo {
        flex-wrap: nowrap;
        padding: 10px;

        .accelya-text-img {
          width: 10px;
          height: 20px;
          display: flex;
        }
      }

      .flight-specifics {
        align-items: center;
        flex-basis: initial;
      }

      .cabin-pos-details {
        align-items: center;
        flex-basis: initial;
      }

      .flight-statistics {
        display: flex;
        flex-direction: row;

        .status-col-to-row {
          display: flex;
          flex-direction: row;

          // @media(max-width: 1050px) {
          //   flex-direction: column;
          //   align-items: center;
          // }
        }
      }
    }
  }


  .pricing-window {
    width: $screen-width-modifier;
    //height: calc(100vh * 0.47) !important;
    height: 50% !important;

  }

  .bookings-inluence {
    width: $screen-width-modifier;
    //height: 10% !important;
    //height: calc(100vh * 0.5) !important;
  }

  .sa-au-window {
    width: $screen-width-modifier;
    height: 40% !important;
    //height: calc(100vh * 0.5) !important;
  }


  .footer {
    margin: 0 auto;
    min-width: 100%;
    //height: calc(100vh * 0.035);
  }

}

.label-btn {
  display: block;
  background: #0d6efd;
  color: hsla(215, 0%, 100%, 1);
  border: 1px solid hsla(150, 75%, 50%, 0.5);
  border-radius: 4px;
  width: 120px;
  font-size: 13px;
  text-align: center;
  position: relative;

  &:hover {
    border: 1px solid hsla(150, 75%, 50%, 1);
  }
}

h1 {
  color: hsla(215, 5%, 10%, 1);
  margin-bottom: 2rem;
}

section {
  display: flex;
  flex-flow: row wrap;
}


input[type="radio"] {
  display: none;

  &:not(:disabled)~label {
    cursor: pointer;
  }

  &:disabled~label {
    color: hsla(150, 5%, 75%, 1);
    border-color: hsla(150, 5%, 75%, 1);
    box-shadow: none;
    cursor: not-allowed;
  }
}

label {
  display: block;
  background: $accelya-blue;
  border: 1px solid hsla(150, 75%, 50%, 0.5);
  border-radius: 4px;
  width: 120px;
  padding: .14rem 0 .16rem;
  text-align: center;
  font-size: 13px;
  position: relative;

  &:hover {
    border: 1px solid hsla(150, 75%, 50%, 1);
  }
}

input[type="radio"]:checked+label {
  background: #0d6efd;
  color: hsla(215, 0%, 100%, 1);
}


@media only screen and (max-width: 700px) {
  section {
    flex-direction: column;
  }
}