@font-face {
  font-family: 'OpenSans';
  src: url('/assets/fonts/OpenSans.eot');

  src: url('/assets/fonts/OpenSans.eot?#iefix') format('embedded-opentype'),

    url('/assets/fonts/OpenSans.woff') format('woff'),

    url('/assets/fonts/OpenSans.ttf') format('truetype'),

    url('/assets/fonts/OpenSans.svg#svgFontName') format('svg');

}

.fw-600 {
  font-weight: $font-weight-lg;
}

.fw-500 {
  font-weight: $font-weight-md;
}

.fw-400 {
  font-weight: $font-weight-nml;
}

.font-jumbo {
  font-size: $font-size-medium-large;
}

.font-18 {
  // line-height: 1.25rem;
  font-size: $font-size-base-xl;
}

.font-16 {
  // line-height: 1.25rem;
  font-size: $font-size-base-a;
}

.font-14 {
  // line-height: 1.25rem;
  font-size: $font-size-base-lg;
}

.font-13 {
  // line-height: 1.25rem;
  font-size: $font-size-base-ml;
}

.font-12 {
  // line-height: 1.25rem;
  font-size: $font-size-base-md;
}

.font-11 {
  font-size: $font-size-base-sm;
}

.font-10 {
  font-size: $font-size-base-xs;
}


.off-black-text {
  color: $brand-off-black-text;
}

.link-blue-text {
  color: $brand-link-blue-text;
}

.dark-gray-text {
  color: $brand-dark-gray-text;
}

.white-contrast-text {
  color: $brand-off-white-lt;
}

.medium-gray-text {
  color: $brand-medium-gray-text;
}