#draggable-available {
  //width: 100% !important;
  height: 380px !important;
}

.colorTest {
  color: #4f36aa; // 'rgb(1,33,105)
  background-color: 'rgb(223, 70, 97)'
    //color: rgba(93, 0, 129, 0.3);
}