#draggable-available {
  width: 100% !important;
  height: 100% !important;
  height: calc(100vh * 0.37) !important;
}

// .colorTest {
//   color: #4f36aa; // 'rgb(1,33,105)
//   background-color: rgb(69, 116, 226) //color: rgba(93, 0, 129, 0.3);
// }