#continuous-bidpricing {
  width: 100% !important;
  height: 380px !important;
}

// Global screen width adjuster
$screen-width-modifier: 100%;


textarea {
  resize: none;
  padding: 5px;
  width: 45px;
  margin-bottom: 8px;
}
