<div class="flight-header-main">
  <div class="flight-frame d-flex">
    <div class="status-col me-4">
      <div class="font-16 fw-600"> MAD</div>
      <span class="font-12">Madrid</span>
    </div>
    <div class="d-flex nowrap">
      <div class="status-col text-start me-3 font-12 fw-600">
        <div class="mt-2">12 Dec 2022</div>
        <!-- <div class=""> {{apiAirlineFlight.departureDateTime | dateModifier: 'time' }}</div> -->
      </div>
      <div class="logo-circle m-auto">
        <img class="tail-img-sm logo-tail"
          src="{{pathToAssets}}IbTailArt.png">
      </div>
      <div class="status-col ms-4 font-12 fw-600">
        <div class="mt-2">12 Dec 2022</div>
        <!-- <div class="text-right"> {{apiAirlineFlight.arrivalDateTime | dateModifier: 'time' }}</div> -->
      </div>
    </div>
    <div class="status-col ms-3">
      <div class="font-16 fw-600 align-right">JFK</div>
      <div class="font-12">New York</div>
    </div>
  </div>
</div>