/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "./styles/configuration.scss";
@import "styles/fonts";

$body-background: rgb(201, 211, 219);
//$font-family: "'Crimson Pro', sans-serif"; //"OpenSans-Semibold";

html,
body {
  min-height: 100%;
  //height: calc(100vh);
  overflow-x: hidden;
  font-weight: 400;
  font-size: 16px;
  background-color: $body-background !important;
}

.horiz-centered-flex {
  display: flex;
  align-items: center;
  flex-wrap: nowrap !important;
}

.status-col {
  //width: 100%;
  display: flex;
  flex-direction: column;

  .align-right {
    align-self: flex-end;
  }
  .minus-margin {
    // margin-bottom: -5px;
  }
}

.contrast-blue-background {
  background-color: $brand-primary-background3;
  color: $brand-primary-background;
}

.contrast-white-background {
  background-color: $brand-gray-contrast-background;
  color: $brand-primary-text;
}

* {
  box-sizing: border-box;
}

.mat-slide-toggle {
  transform: scale(0.7);
}

.mat-slide-toggle-bar {
  background-color: $brand-link-blue-text !important;
}

.input-number {
  width: 80px;
  padding: 0 12px;
  vertical-align: top;
  text-align: center;
  outline: none;
}

.input-number,
.input-number-decrement,
.input-number-increment {
  border: 1px solid #ccc;
  height: 40px;
  user-select: none;
}

.input-number-decrement,
.input-number-increment {
  display: inline-block;
  width: 30px;
  line-height: 38px;
  background: #f1f1f1;
  color: #444;
  text-align: center;
  font-weight: bold;
  cursor: pointer;

  &:active {
    background: #ddd;
  }
}

.input-number-decrement {
  border-right: none;
  border-radius: 4px 0 0 4px;
}

.input-number-increment {
  border-left: none;
  border-radius: 0 4px 4px 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none !important;
  /* Non-prefixed version, currently
    supported by Chrome, Opera and Firefox */
}

.slider {
  display: flex;
  align-items: center;
  width: $screen-width-modifier;

  .example-margin {
    width: 97%;
  }

  &.light-mode {
    background-color: rgb(243, 243, 252);
  }

  &.dark-mode {
    background-color: $brand-primary-background;
  }
}

.mat-slider-horizontal {
  min-width: 90% !important;
  margin-left: auto;
}

.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  background-color: $brand-booking-green !important;
}

.mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
  height: 6px;
  border-radius: 10px;
}

.mat-slider-track-background {
  background-color: $brand-booking-green !important;
}

.mat-slider.mat-slider-horizontal .mat-slider-track-background,
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  height: 100%;
}

.mat-slider-thumb-label {
  transform: rotate(45deg) !important;
  border-radius: 50% 50% 0 !important;
}

.mat-slider-thumb {
  transform: scale(0.75) !important;
}

.mat-slider-thumb-label-text {
  font-size: 12px !important;
  font-weight: bold !important;
  color: rgb(255, 255, 255) !important;
  opacity: 1 !important;
}

.mat-slider.mat-accent .mat-slider-thumb-label {
  top: -27px !important;
  right: -16px;
  background-color: transparent !important;
}

.mat-accent .mat-slider-thumb {
  height: 20px;
  width: 20px;
  background-color: white;
  border: solid 2px gray;
  bottom: -11px;
  right: -12px;
}
