/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import './styles/configuration.scss';
@import "styles/fonts";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$font-family: "OpenSans-Semibold";
$body-background: rgb(227, 231, 235);
$chart-corner-radius: 6px;

html,
body {
  height: 100%;
}

body {
  background: rgb(188, 208, 255) !important;
}

.mat-slider-horizontal {
  min-width: 90% !important;
  margin-left: auto;
}

.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  background-color: rgb(156, 156, 156);
}

.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
  //background-color: red;
}

.mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
  height: 10px;
  border-radius: 10px
}

.mat-slider.mat-slider-horizontal .mat-slider-track-background,
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  height: 100%;
}

.mat-slider-thumb-label {
  transform: rotate(45deg) !important;
  border-radius: 50% 50% 0 !important;
}

.mat-slider-thumb {
  transform: scale(0.75) !important;
}

.mat-slider-thumb-label-text {
  font-size: 12px !important;
  font-weight: bold !important;
  color: black !important;
  opacity: 1 !important;
}

.mat-slider.mat-accent .mat-slider-thumb-label {
  top: -25px !important;
  background-color: transparent !important;
}

.mat-accent .mat-slider-thumb {
  height: 20px;
  width: 20px;
  background-color: white;
  border: solid 2px gray;
  bottom: -14px;
  right: -12px;
}

mat-slider {
  margin: auto;
  padding: 4px !important;
}



.grid-placement {
  display: flex;
  justify-content: center;
}

.status-col {
  width: auto;
  display: flex;
  flex-direction: column;

  .align-right {
    align-self: flex-end;
  }
}

.navy-background {

  background-color: $accelya-blue;
  color: $brand-off-white-lt;

  &.corner-radius {
    border-radius: 8px;
  }

  &.top-corner-radius {
    border-top-right-radius: $chart-corner-radius;
    border-top-left-radius: $chart-corner-radius;
  }
}

.contrast-blue-background {
  background-color: $brand-primary-background3;
  color: $brand-primary-background;
}

.contrast-white-background {
  background-color: $brand-gray-contrast-background;
  color: $brand-primary-text;
}


.chart-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: white;
  border: 1px solid rgb(71, 71, 71);
  border-top-right-radius: $chart-corner-radius;
  border-top-left-radius: $chart-corner-radius;

  .text-header-area {
    display: flex;
    align-items: center;
    font-size: 0.95rem;
    border-top-right-radius: $chart-corner-radius;
    border-top-left-radius: $chart-corner-radius;
    padding: 8px 8px;
    margin-bottom: 4px;
    color: white !important;
    background-color: $accelya-blue;
    //background-color: rgb(221, 226, 233);
    border-bottom: 1px solid rgb(163, 163, 163);
  }

  .container-body {
    height: 100% !important;
    width: 100% !important;

    &.error-state-on {
      opacity: 0;
    }

    &.error-state-off {
      opacity: 1;
    }
  }

}

* {
  box-sizing: border-box
}


.input-number {
  width: 80px;
  padding: 0 12px;
  vertical-align: top;
  text-align: center;
  outline: none;
}

.input-number,
.input-number-decrement,
.input-number-increment {
  border: 1px solid #ccc;
  height: 40px;
  user-select: none;
}

.input-number-decrement,
.input-number-increment {
  display: inline-block;
  width: 30px;
  line-height: 38px;
  background: #f1f1f1;
  color: #444;
  text-align: center;
  font-weight: bold;
  cursor: pointer;

  &:active {
    background: #ddd;
  }
}

.input-number-decrement {
  border-right: none;
  border-radius: 4px 0 0 4px;
}

.input-number-increment {
  border-left: none;
  border-radius: 0 4px 4px 0;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none !important;
  /* Non-prefixed version, currently
    supported by Chrome, Opera and Firefox */
}